# Ignore environment variables
.env

# Ignore IDE and OS files
.idea/
.DS_Store

# Ignore virtual environment
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore database files
instance/
*.db
